In [1]:
url = "B:\\jupyternotebook\\mlboot\\mlprojectpipelines\\tutorial1\\tutorial_project\\housing\\artifact\\data_ingestion\\2022-19-03_14-19-15\\ingested_data\\train\\housing.csv"

In [2]:
import pandas as pd
df = pd.read_csv(url)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.27,38.70,16.0,3747.0,586.0,1817.0,590.0,4.6488,145300.0,INLAND
1,-117.00,32.85,24.0,1888.0,319.0,950.0,319.0,5.2820,140800.0,<1H OCEAN
2,-122.51,37.96,39.0,3302.0,684.0,1574.0,653.0,3.6863,263800.0,NEAR BAY
3,-120.99,37.62,37.0,2014.0,505.0,1787.0,515.0,1.5515,54100.0,INLAND
4,-118.19,34.10,39.0,2054.0,423.0,1205.0,403.0,4.2390,213000.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
16507,-118.30,34.06,33.0,2437.0,1283.0,3906.0,1084.0,2.0332,270000.0,<1H OCEAN
16508,-120.97,38.42,16.0,1748.0,322.0,4930.0,287.0,4.3029,121900.0,INLAND
16509,-121.94,36.97,31.0,1738.0,422.0,746.0,355.0,2.5172,330800.0,NEAR OCEAN
16510,-122.40,37.75,52.0,1182.0,307.0,1029.0,306.0,2.0577,214600.0,NEAR BAY
16511,-116.57,35.43,8.0,9975.0,1743.0,6835.0,1439.0,2.7138,22500.0,INLAND

In [4]:
import yaml
url = "B:\\jupyternotebook\\mlboot\\mlprojectpipelines\\tutorial1\\tutorial_project\\config\\schema.yaml"
with open(url,"r") as f:
    file = yaml.safe_load(f)
file

{'columns': {'longitude': 'float',
  'latitude': 'float',
  'housing_median_age': 'float',
  'total_rooms': 'float',
  'total_bedrooms': 'float',
  'population': 'float',
  'households': 'float',
  'median_income': 'float',
  'median_house_value': 'float',
  'ocean_proximity': 'category'},
 'numerical_columns': ['longitude',
  'latitude',
  'housing_median_age',
  'total_rooms',
  'total_bedrooms',
  'population',
  'households',
  'median_income'],
 'categorical_columns': ['ocean_proximity'],
 'target_column': 'median_house_value',
 'domain_value': {'ocean_proximity': ['<1H OCEAN',
   'INLAND',
   'NEAR OCEAN',
   'NEAR BAY',
   'ISLAND']}}

In [5]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [6]:
list(file["columns"].keys()) == df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [7]:
len(list(file["columns"].keys())) == len(df.columns)

True

In [8]:
i = file["domain_value"]["ocean_proximity"]

In [9]:
v = df.ocean_proximity.value_counts().index

In [10]:
i==v

array([ True,  True,  True,  True,  True])

In [14]:
is_columns_name_equal = list(file["columns"].keys()) == df.columns
is_columns_name_equal

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [59]:
def checking_values(data)->bool:
    link = f"B:\\jupyternotebook\\mlboot\\mlprojectpipelines\\tutorial1\\tutorial_project\\housing\\artifact\\data_ingestion\\2022-19-03_14-19-15\\ingested_data\\{data}\\housing.csv"
    df = pd.read_csv(link)
                
    is_columns_name_equal = list(file["columns"].keys()) == df.columns
    is_columns_length_equal = len(list(file["columns"].keys())) == len(df.columns)
    i = file["domain_value"]["ocean_proximity"]
    v = df.ocean_proximity.value_counts().index
    is_domain_values_are_equal = i==v
    z = is_columns_length_equal and set(is_columns_name_equal) and set(is_domain_values_are_equal)
    if False not in z:             
        return True

In [60]:
checking_values("test")

True

In [37]:
i = [True,True]
n = [True,True]
kk = [True,True]
if False not in i and n and kk:
    print("true")

true